Load Data and combine tracking data

In [4]:
import pandas as pd
import statistics as stats
import os
games = pd.read_csv('../input/nfl-big-data-bowl-2021/games.csv')
players = pd.read_csv('../input/nfl-big-data-bowl-2021/players.csv')
plays = pd.read_csv('../input/nfl-big-data-bowl-2021/plays.csv')
week1 = pd.read_csv('../input/nfl-big-data-bowl-2021/week1.csv')
week2 = pd.read_csv('../input/nfl-big-data-bowl-2021/week2.csv')
week3 = pd.read_csv('../input/nfl-big-data-bowl-2021/week3.csv')
week4 = pd.read_csv('../input/nfl-big-data-bowl-2021/week4.csv')
week5 = pd.read_csv('../input/nfl-big-data-bowl-2021/week5.csv')
week6 = pd.read_csv('../input/nfl-big-data-bowl-2021/week6.csv')
week7 = pd.read_csv('../input/nfl-big-data-bowl-2021/week7.csv')
week8 = pd.read_csv('../input/nfl-big-data-bowl-2021/week8.csv')
week9 = pd.read_csv('../input/nfl-big-data-bowl-2021/week9.csv')
week10 = pd.read_csv('../input/nfl-big-data-bowl-2021/week10.csv')
week11 = pd.read_csv('../input/nfl-big-data-bowl-2021/week11.csv')
week12 = pd.read_csv('../input/nfl-big-data-bowl-2021/week12.csv')
week13 = pd.read_csv('../input/nfl-big-data-bowl-2021/week13.csv')
week14 = pd.read_csv('../input/nfl-big-data-bowl-2021/week14.csv')
week15 = pd.read_csv('../input/nfl-big-data-bowl-2021/week15.csv')
week16 = pd.read_csv('../input/nfl-big-data-bowl-2021/week16.csv')
week17 = pd.read_csv('../input/nfl-big-data-bowl-2021/week17.csv')
coverages_week1 = pd.read_csv('../input/nfl-big-data-bowl-2021-bonus/coverages_week1.csv')
targeted_receiver = pd.read_csv('../input/nfl-big-data-bowl-2021-bonus/targetedReceiver.csv')
frames = [week1, week2, week3, week4, week5, week6, week7, week8, week9, week10, week11, week12, week13, week14, week15, week16, week17]
tracking_original = pd.concat(frames, ignore_index = True)
tracking_original

,time,x,y,s,a,dis,o,dir,event,nflId,displayName,jerseyNumber,position,frameId,team,gameId,playId,playDirection,route
0,2018-09-07T01:07:14.599Z,91.73,26.67,0.00,0.01,0.02,289.57,240.93,None,310.0,Matt Ryan,2.0,QB,1,away,2018090600,75,left,NaN
1,2018-09-07T01:07:14.599Z,88.89,36.47,0.01,0.01,0.01,105.63,66.66,None,79848.0,Malcolm Jenkins,27.0,SS,1,home,2018090600,75,left,NaN
2,2018-09-07T01:07:14.599Z,91.35,44.16,0.02,0.03,0.01,290.45,16.86,None,2495454.0,Julio Jones,11.0,WR,1,away,2018090600,75,left,HITCH
3,2018-09-07T01:07:14.599Z,86.31,22.01,0.09,0.42,0.01,70.12,168.91,None,2495613.0,Corey Graham,24.0,FS,1,home,2018090600,75,left,NaN
4,2018-09-07T01:07:14.599Z,90.78,36.15,0.00,0.00,0.00,257.61,193.97,None,2533040.0,Mohamed Sanu,12.0,WR,1,away,2018090600,75,left,HITCH
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18309383,2018-12-31T04:23:24.200Z,95.77,11.20,7.15,1.75,0.73,103.97,118.54,None,2558942.0,Anthony Firkser,86.0,TE,102,home,2018123011,4261,left,POST
18309384,2018-12-31T04:23:24.200Z,101.94,14.60,5.63,2.24,0.57,139.23,119.97,None,2558976.0,Kenny Moore,23.0,CB,102,away,2018123011,4261,left,NaN
18309385,2018-12-31T04:23:24.200Z,102.68,0.94,2.34,1.67,0.24,164.79,152.29,None,2560789.0,Darius Leonard,53.0,LB,102,away,2018123011,4261,left,NaN
18309386,2018-12-31T04:23:24.200Z,105.82,0.71,2.28,3.53,0.25,284.72,93.44,None,2561521.0,Cameron Batson,17.0,WR,102,home,2018123011,4261,left,OUT
18309387,2018-12-31T04:23:24.200Z,101.33,0.91,0.99,0.67,0.10,NaN,NaN,None,NaN,Football,NaN,NaN,102,football,2018123011,4261,left,NaN

Reorient trackind data to all face the same way

In [5]:
tracking_df = tracking_original.copy()
tracking_df.loc[tracking_df['playDirection'] == 'left', 'x'] = 120 - tracking_df['x']
tracking_df.loc[tracking_df['playDirection'] == 'left', 'y'] = 53.33 - tracking_df['y']
tracking_df.loc[(tracking_df['playDirection'] == 'left') & (tracking_original['o'] <= 180), 'o'] = tracking_df['o'] + 180
tracking_df.loc[(tracking_df['playDirection'] == 'left') & (tracking_original['o'] > 180), 'o'] = tracking_df['o'] - 180
tracking_df.loc[(tracking_df['playDirection'] == 'left') & (tracking_original['dir'] <= 180), 'dir'] = tracking_df['dir'] + 180
tracking_df.loc[(tracking_df['playDirection'] == 'left') & (tracking_original['dir'] > 180), 'dir'] = tracking_df['dir'] - 180

add week 1 coverages and targeted receiver to each play

In [6]:
plays = pd.merge(plays, coverages_week1, how='left')
plays = pd.merge(plays, targeted_receiver, how='left')
plays = pd.merge(plays, players, how='left', left_on='targetNflId', right_on='nflId')
plays.iloc[0]

gameId                                                           2018090600
playId                                                                   75
playDescription           (15:00) M.Ryan pass short right to J.Jones pus...
quarter                                                                   1
down                                                                      1
yardsToGo                                                                15
possessionTeam                                                          ATL
playType                                                     play_type_pass
yardlineSide                                                            ATL
yardlineNumber                                                           20
offenseFormation                                                     I_FORM
personnelO                                                 2 RB, 1 TE, 2 WR
defendersInTheBox                                                         7
numberOfPassRushers                                                       4
personnelD                                                 4 DL, 2 LB, 5 DB
typeDropback                                                    TRADITIONAL
preSnapVisitorScore                                                       0
preSnapHomeScore                                                          0
gameClock                                                          15:00:00
absoluteYardlineNumber                                                   90
penaltyCodes                                                            NaN
penaltyJerseyNumbers                                                    NaN
passResult                                                                C
offensePlayResult                                                        10
playResult                                                               10
epa                                                                0.261827
isDefensivePI                                                         False
coverage                                                       Cover 3 Zone
targetNflId                                                     2.49545e+06
nflId                                                           2.49545e+06
height                                                                   75
weight                                                                  220
birthDate                                                        1989-02-08
collegeName                                                         Alabama
position                                                                 WR
displayName                                                     Julio Jones
Name: 0, dtype: object

start plays expanded, our eventual training data

In [7]:
plays_expanded = plays[['gameId', 'playId', 'down', 'yardsToGo', 'penaltyCodes', 'penaltyJerseyNumbers', 'passResult', 'offensePlayResult', 'playResult', 'epa', 'nflId', 'displayName']]
plays_expanded

,gameId,playId,down,yardsToGo,penaltyCodes,penaltyJerseyNumbers,passResult,offensePlayResult,playResult,epa,nflId,displayName
0,2018090600,75,1,15,NaN,NaN,C,10,10,0.261827,2495454.0,Julio Jones
1,2018090600,146,1,10,NaN,NaN,I,0,0,-0.372360,2560854.0,Calvin Ridley
2,2018090600,168,2,10,NaN,NaN,I,0,0,-0.702779,2543583.0,Devonta Freeman
3,2018090600,190,3,10,NaN,NaN,C,33,33,3.047530,2495454.0,Julio Jones
4,2018090600,256,3,1,NaN,NaN,I,0,0,-0.842272,2543583.0,Devonta Freeman
...,...,...,...,...,...,...,...,...,...,...,...,...
19234,2018122200,2300,2,5,DH,TEN 24,I,0,5,0.848703,NaN,NaN
19235,2018122200,3177,3,7,DH,WAS 31,I,0,5,1.227695,2557870.0,Taywan Taylor
19236,2018122201,566,3,4,OPI,LAC 13,C,27,-10,-0.720168,2540154.0,Keenan Allen
19237,2018122201,1719,3,1,DPI,BAL 23,I,0,15,1.336078,2540154.0,Keenan Allen
19238,2018122201,2649,1,10,DPI,LAC 43,I,0,9,0.550256,71269.0,Michael Crabtree

limit tracking data to frame where ball is released

In [8]:
def tracking_filter(week_df):
    release = week_df['event']=='pass_forward'
    release_df = week_df[release]
    return release_df
release_df = tracking_filter(tracking_df)
release_df

,time,x,y,s,a,dis,o,dir,event,nflId,displayName,jerseyNumber,position,frameId,team,gameId,playId,playDirection,route
490,2018-09-07T01:07:18.099Z,23.57,26.55,0.84,2.05,0.08,176.40,153.39,pass_forward,310.0,Matt Ryan,2.0,QB,36,away,2018090600,75,left,NaN
491,2018-09-07T01:07:18.099Z,35.18,15.00,5.53,4.30,0.54,115.34,138.58,pass_forward,79848.0,Malcolm Jenkins,27.0,SS,36,home,2018090600,75,left,NaN
492,2018-09-07T01:07:18.099Z,39.31,8.42,3.11,6.67,0.34,335.11,117.88,pass_forward,2495454.0,Julio Jones,11.0,WR,36,away,2018090600,75,left,HITCH
493,2018-09-07T01:07:18.099Z,33.98,34.69,3.52,0.69,0.35,208.19,36.15,pass_forward,2495613.0,Corey Graham,24.0,FS,36,home,2018090600,75,left,NaN
494,2018-09-07T01:07:18.099Z,37.35,18.77,6.35,1.21,0.64,82.06,92.78,pass_forward,2533040.0,Mohamed Sanu,12.0,WR,36,away,2018090600,75,left,HITCH
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18308473,2018-12-31T04:23:17.700Z,50.43,36.35,7.30,4.98,0.73,166.46,108.21,pass_forward,2558942.0,Anthony Firkser,86.0,TE,37,home,2018123011,4261,left,POST
18308474,2018-12-31T04:23:17.700Z,48.51,17.14,2.84,3.67,0.29,281.51,78.99,pass_forward,2558976.0,Kenny Moore,23.0,CB,37,away,2018123011,4261,left,NaN
18308475,2018-12-31T04:23:17.700Z,47.68,25.85,2.45,4.25,0.24,289.79,354.67,pass_forward,2560789.0,Darius Leonard,53.0,LB,37,away,2018123011,4261,left,NaN
18308476,2018-12-31T04:23:17.700Z,48.34,43.77,6.66,5.27,0.67,3.83,37.07,pass_forward,2561521.0,Cameron Batson,17.0,WR,37,home,2018123011,4261,left,OUT
18308477,2018-12-31T04:23:17.700Z,28.25,30.23,0.32,2.31,0.04,NaN,NaN,pass_forward,NaN,Football,NaN,NaN,37,football,2018123011,4261,left,NaN

merge receiver tracking with plays expanded

In [9]:
plays_expanded = pd.merge(plays_expanded, release_df, how='left', on = ['gameId', 'playId', 'nflId'], suffixes=('', '_y'))
plays_expanded.drop(plays_expanded.filter(regex='_y$').columns.tolist(),axis=1, inplace=True)
plays_expanded.drop(columns = ['time', 'dis', 'event'], inplace = True)
plays_expanded.rename(columns = {'team': 'team_o', 'nflId': 'nflId_o', 'displayName': 'displayName_o', 'x': 'x_o', 'y': 'y_o', 's': 'speed_o', 'a': 'acceleration_o', 'o': 'orientation_o', 'dir': 'dir_o', 'jerseyNumber': 'jerseyNumber_o', 'position': 'position_o'}, inplace = True)
plays_expanded.columns

Index(['gameId', 'playId', 'down', 'yardsToGo', 'penaltyCodes',
       'penaltyJerseyNumbers', 'passResult', 'offensePlayResult', 'playResult',
       'epa', 'nflId_o', 'displayName_o', 'x_o', 'y_o', 'speed_o',
       'acceleration_o', 'orientation_o', 'dir_o', 'jerseyNumber_o',
       'position_o', 'frameId', 'team_o', 'playDirection', 'route'],
      dtype='object')

merge football tracking with plays expanded

In [10]:
def football_filter(week_df):
    football_df = week_df[week_df.displayName.isin(['Football'])]
    return football_df
football_df = football_filter(release_df)
plays_expanded = pd.merge(plays_expanded, football_df, how='left', on = ['gameId', 'playId'], suffixes=('', '_y'))
plays_expanded.drop(plays_expanded.filter(regex='_y$').columns.tolist(),axis=1, inplace=True)
plays_expanded.drop(columns = ['team', 'time', 'dis', 'event', 'o', 'dir', 'nflId', 'jerseyNumber', 'position', 'displayName'], inplace = True)
plays_expanded.rename(columns = {'x': 'x_b', 'y': 'y_b', 's': 'speed_b', 'a': 'acceleration_b'}, inplace = True)
plays_expanded.iloc[0]

gameId                   2018090600
playId                           75
down                              1
yardsToGo                        15
penaltyCodes                    NaN
penaltyJerseyNumbers            NaN
passResult                        C
offensePlayResult                10
playResult                       10
epa                        0.261827
nflId_o                 2.49545e+06
displayName_o           Julio Jones
x_o                           39.31
y_o                            8.42
speed_o                        3.11
acceleration_o                 6.67
orientation_o                335.11
dir_o                        117.88
jerseyNumber_o                   11
position_o                       WR
frameId                          36
team_o                         away
playDirection                  left
route                         HITCH
x_b                            23.1
y_b                           26.36
speed_b                        2.05
acceleration_b                 3.76
Name: 0, dtype: object

returns dataframe of defenders and distance to targeted receiver at time of release

In [11]:
temp_df = []
import math
def closest_defender_finder(plays_expanded, week_df):
    def_pos = ['DL', 'FS', 'DB', 'DE', 'OLB', 'SS', 'CB', 'ILB', 'S', 'MLB', 'NT', 'LB']
    temp_df = pd.merge(plays_expanded, release_df, how='right', on = ['gameId', 'playId'], suffixes=('', '_y'))
    temp_df.drop(plays_expanded.filter(regex='_y$').columns.tolist(),axis=1, inplace=True)
    temp_df = temp_df[temp_df.position.isin(def_pos)]
    temp_df['distance_from_receiver'] = (((temp_df['x']-temp_df['x_o'])**2)+((temp_df['y']-temp_df['y_o'])**2))**(1/2)
    new_df = pd.DataFrame()
    new_df['id'] = temp_df['gameId'].astype(str) + ' ' + temp_df['playId'].astype(str) + ' ' + temp_df['frameId'].astype(str)
    new_df['defender_id'] = temp_df['nflId']
    new_df['defender_name'] = temp_df['displayName']
    new_df['distance_from_receiver'] = temp_df['distance_from_receiver']
    return temp_df, new_df
    
temp_df, new_df = closest_defender_finder(plays_expanded, tracking_df)
new_df

,id,defender_id,defender_name,distance_from_receiver
1,2018090600 75 36.0,79848.0,Malcolm Jenkins,7.768739
3,2018090600 75 36.0,2495613.0,Corey Graham,26.805257
5,2018090600 75 36.0,2534832.0,Rodney McLeod,17.920201
7,2018090600 75 36.0,2552315.0,Jordan Hicks,12.600496
8,2018090600 75 36.0,2552689.0,Ronald Darby,24.937933
...,...,...,...,...
260710,2018123011 4261 37.0,2543811.0,Pierre Desir,17.223371
260713,2018123011 4261 37.0,2557961.0,Quincy Wilson,18.854013
260714,2018123011 4261 37.0,2558060.0,Malik Hooker,19.072226
260716,2018123011 4261 37.0,2558976.0,Kenny Moore,9.714469
260717,2018123011 4261 37.0,2560789.0,Darius Leonard,1.436698

returns dataframe of closest defender on every target at time of release

In [12]:
distance_dict = {}
new_df = new_df.reset_index(drop = True)
for i in range(0, len(new_df)):
    if new_df.loc[i, 'id'] not in distance_dict:
        distance_dict[new_df.loc[i, 'id']] = [[new_df.loc[i, 'defender_id']], [new_df.loc[i, 'distance_from_receiver']]]
    else:
        distance_dict[new_df.loc[i, 'id']][0].append(new_df.loc[i, 'defender_id'])
        distance_dict[new_df.loc[i, 'id']][1].append(new_df.loc[i, 'distance_from_receiver'])
final_df = pd.DataFrame()
index = 0
for x in distance_dict:
    m = min(distance_dict[x][1])
    i = distance_dict[x][1].index(min(distance_dict[x][1]))
    final_df.loc[index, 'id'] = x
    final_df.loc[index, 'closest_defender_id'] = distance_dict[x][0][i]
    final_df.loc[index, 'defender_dist'] = m
    index += 1
final_df

                         id  closest_defender_id  defender_dist
0        2018090600 75 36.0            2555383.0       4.160048
1       2018090600 146 31.0              79848.0       4.243230
2       2018090600 168 34.0            2557958.0       5.338352
3       2018090600 190 39.0              79848.0       4.243218
4       2018090600 256 31.0            2558175.0       2.124382
...                     ...                  ...            ...
17737  2018123011 3947 43.0            2558976.0       9.871965
17738  2018123011 4044 36.0            2560789.0       8.808110
17739  2018123011 4089 43.0            2557961.0       2.782391
17740  2018123011 4219 38.0            2558976.0       8.884509
17741  2018123011 4261 37.0            2560789.0       1.436698

[17742 rows x 3 columns]

split id column back into game, play, and frame

In [13]:
id_df = final_df['id'].str.split(' ', expand = True)
final_df['gameId'] = id_df[0].astype(int)
final_df['playId'] = id_df[1].astype(int)
final_df['frameId'] = id_df[2].astype(float)
final_df.drop(columns = ['id'], inplace = True)
final_df

       closest_defender_id  defender_dist      gameId  playId  frameId
0                2555383.0       4.160048  2018090600      75     36.0
1                  79848.0       4.243230  2018090600     146     31.0
2                2557958.0       5.338352  2018090600     168     34.0
3                  79848.0       4.243218  2018090600     190     39.0
4                2558175.0       2.124382  2018090600     256     31.0
...                    ...            ...         ...     ...      ...
17737            2558976.0       9.871965  2018123011    3947     43.0
17738            2560789.0       8.808110  2018123011    4044     36.0
17739            2557961.0       2.782391  2018123011    4089     43.0
17740            2558976.0       8.884509  2018123011    4219     38.0
17741            2560789.0       1.436698  2018123011    4261     37.0

[17742 rows x 5 columns]

merge closest defender to plays expanded

In [14]:
plays_expanded = pd.merge(plays_expanded, final_df, how='left', on = ['gameId', 'playId', 'frameId'])
plays_expanded = pd.merge(plays_expanded, release_df, how='left', right_on = ['gameId', 'playId', 'nflId'], left_on = ['gameId', 'playId', 'closest_defender_id'], suffixes=('', '_y'))
plays_expanded.drop(plays_expanded.filter(regex='_y$').columns.tolist(),axis=1, inplace=True)
plays_expanded.drop(columns = ['time', 'dis', 'event', 'nflId'], inplace = True)
plays_expanded.rename(columns = {'team': 'team_d', 'displayName': 'displayName_d', 'x': 'x_d', 'y': 'y_d', 's': 'speed_d', 'a': 'acceleration_d', 'o': 'orientation_d', 'dir': 'dir_d', 'jerseyNumber': 'jerseyNumber_d', 'position': 'position_d'}, inplace = True)
plays_expanded.iloc[0]

NameError: name 'plays_expanded_temp' is not defined

In [ ]:
print('hello george')